<h1>Hello, <%= @patron.name() %>, how art thou this fine morn'?</h1>

<div class="row">
  <div class="col-md-4">
    <h4>Books Available</h4>
    <form action="/patron/<%= @patron.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
        <% @books.each() do |book| %>
          <div class="checkbox">
            <label>
            <input type="checkbox" name="book_ids[]" value="<%= book.id() %>"><%= book.title() %>
            </label>
          </div>
        <% end %>
      <br>
      <button type="submit" class="btn btn-danger">Checkout Book</button>
    </form>
  </div>
  <div class="col-md-4">
    <h4>Books Currently Checked Out with Due Date</h4>
    <% @patron.books.each() do |book| %>
    <li><%= book.title() %></li>
    <% end %>

  </div>
  <div class="col-md-4">
    <h4>Book Checkout History</h4>
  </div>
</div>
